<div class="warning">
Creating an account means you’re okay with Ispick's <%= link_to 'Terms of Service', page_path('term_of_service') %> and <%= link_to 'Privacy Policy', page_path('privacy_policy') %>.
</div>
