<div style="text-align: right; align:right;">
  <!-- Putting this block directly inside the modal-content div seem to make the button unclickable -->
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<br />
<div class="clip-success">
  <h3>Successfully clipped into the <%= @clipped_board %> !!</h3>
</div>