<div id='footer'>
  <hr>
  <p>2014-2020 Ispick by pentiumx.</p>
  <p>
    <%= link_to 'Privacy Policy', page_path('privacy_policy') %> /
    <%= link_to 'About us', page_path('about_us') %>
  </p>
</div>