<footer>
  <nav>
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "Terms of Service", "#" %></li>
      <li><%= link_to "Privacy Policy", "#" %></li>
    </ul>
  </nav>
  <p id="copyright">(c) 2014 Ispick.</p>
</footer>
