<div class='logo'>
  <%= link_to image_tag(asset_path('test_logo.png')), home_users_path, class: 'logo' %>
</div>

<%= render_navigation expand_all: true, renderer: :bootstrap, items: get_menu_items %>