<div class="modal" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-image">
        Details:
        <%# render 'shared/show_image' %>
      </div>
    </div>
  </div>
</div><!-- /.modal -->