<div class="modal modal-boards" id="modal-board" tabindex="-1" role="dialog" aria-labelledby="modal_show_clip_form" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-board-body" class="modal-body">
        <!-- render shared/_modal_board.html.erb from .js.erb here -->
      </div>
    </div>
  </div>
</div><!-- /.modal -->