<div class="modal modal-images" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- javascriptからpartial templateをbodyに描画する -->
      <div class="modal-body modal-image">
      </div>
    </div>
  </div>
</div><!-- /.modal -->