<div class="modal modal-images" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <br />
      <!-- javascriptからpartial templateをbodyに描画する -->
      <div class="modal-body" style="word-wrap: break-word;">
      </div>
    </div>
  </div>
</div><!-- /.modal -->