<div class="modal modal-images" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="modal_show_image_detail" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <br />
      <div id="modal-image-body" class="modal-body" style="word-wrap: break-word;">
        <!-- render shared/_show_image.html.erb from .js.erb here -->
      </div>
    </div>
  </div>
</div><!-- /.modal -->