<div class="modal-dialog">
  <div class="modal-content">
    <%= bootstrap_form_tag url: { controller: 'users', action: 'create_avatar', id: current_user.id } do |f| %>
      <%= f.file_field :avatar, layout: :default %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>