<div align="center">
  <% if image.page_url %>
    <%= link_to image_tag(image.data.url(:medium)), image.page_url.html_safe %>
  <% else %>
    <%= image_tag image.data.url(:medium) %>
  <% end %>
</div>