<div class="image">
  <% if mobile_device? %>
    <%= link_to image_tag(image.data.url, class: 'image'), image.src_url.html_safe, :target => "_blank" %>
  <% else %>
    <%= link_to image_tag(image.data.url, class: 'image'), image.src_url.html_safe, :target => "_blank" %>
  <% end %>
</div>
