<h1><strong>Ispick Beta</strong></h1>
<p>
  Ispick is an automated anime artworks aggregation service!<br />
You can create various anime image feeds based on text tags.<br />
This is the beta version, so your favorites and followed tags data could be deleted.
</p>