<h1>Ispick prototype v3</h1>
<p>Ispick is an illustration curation service!</p>

<%= link_to (image_tag asset_path('top_madoka.jpg')), 'http://ispick.tumblr.com/' %>
<br>
<br>
<br>
<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "twitterでログイン", user_omniauth_authorize_path(:twitter)  %>
<% end %>
<br>