<h1>Listing image_boards</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @image_boards.each do |image_board| %>
      <tr>
        <td><%= link_to 'Show', image_board %></td>
        <td><%= link_to 'Edit', edit_image_board_path(image_board) %></td>
        <td><%= link_to 'Destroy', image_board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image board', new_image_board_path %>
