<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-4 about-us">
      <br />
      <h2>FAQ</h2>
      <strong>Why sometimes does it fail to get next images when I'm scrolling?</strong><br />
        If you are using Google Chrome, and getting "Failed to load resource" error on javascript console, perhaps that's because you are using Adblock Plus extension. <br />
      To fix this, simply add "ispicks.com" to its whitelist domains. Please see <%= link_to 'this', 'http://stackoverflow.com/questions/4390134/failed-to-load-resource-under-chrome'.html_safe %> stackoverflow page for further details.
      <br />
  </div>
</div>
<br />
  <br />
  <br />