development:
  perform_authentication: false
  twitter_consumer_key: consumer_key
  twitter_consumer_secret: consumer_secret

test:
  perform_authentication: false
  twitter_consumer_key: consumer_key
  twitter_consumer_secret: consumer_secret

production:
  perform_authentication: true
  username: admin
  password: secret
  twitter_consumer_key: consumer_key
  twitter_consumer_secret: consumer_secret