<h1>Listing tags</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

