<p>
  <strong>Word:</strong>
  <%= @target_word.word %>
</p>
<p>
  <%= @target_word.inspect %>
</p>

<%= link_to 'Edit', edit_target_word_path(@target_word) %> |
<%= link_to 'Back', show_target_words_users_path %>
