$aqua-green: #79cece;
$water-blue: #afe2e2;
$milky-white: #f3f0ec;
$ivory: #ede9e2;
$white: #fff;
$gray: #7f7b74;
$dark-gray: #5b5854;
$black: #000;
$twitter: #00afd1;
$facebook: #5b83b7;
$pinterest: #cb2027;
