// Fix Kaminari pagination gem's styles to Twitter Bootstrap ones
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  margin-bottom: 0px;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

// Used for pagination.
// Hide it by default since we need to position it dynamically with JavaScript
.pagination-footer {
  visibility: hidden;
}

// Used for image's detail view
th {
  background-color: #7ACECE;
  color: #FFF;//#DDD;
}
.tag {
  text-decoration: underline;
}

// Bootstrap button size
.btn-share {
  //padding: 18px 28px;
  padding: 5px 12px 5px 12px;
  //font-size: 22px;
  //border-radius: 8px;
}

// Override pinterest button image
.pibfi_pinterest .xc_pin {
  //background-image: url('assets/icons/pinterest_32.png');
}


// Set the background color of image detail modals.
.modal-backdrop {
  background-color: #E4E1E3
}

// Set the background color of other modals.
.modal-color-none .modal-backdrop {
  background: none;
}


// Style of avatar setting form
.modal.modal-avatar {
  // TODO: Resolve hard coding
  position: fixed;
  top: 3%;
  left: -68.2%;
}
.modal.modal-images {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}


// Configure window size of modals
.modal.modal-avatar .modal-dialog { width: 250px; }

.modal.modal-images .modal-dialog { width: 800px; }

.modal.modal-boards .modal-dialog { width: 300px; }


// For ipad
body.modal-open{
  overflow: hidden;
  height: 100%;
}

.modal-content,
.modal-dialog,
.modal-body {
  height: inherit;
  min-height: 100%;
}

.modal {
  min-height: 100%;
}
