body {
&.modal-open { position:fixed; overflow:hidden;
    .modal { overflow: scroll;
        @media only screen and (min-resolution:150dpi) and (max-width: @screen-sm),
            only screen and (-webkit-min-device-pixel-ratio:1.5) {
            overflow: scroll; -webkit-overflow-scrolling: touch;
        }
    }
}

// 配信画像のモーダル表示時の背景色
.modal-backdrop {
  background-color: #E4E1E3
}

// 背景が無いモーダル用のクラス（Avatar設定ダイアログ等）
.modal-color-none .modal-backdrop {
  background: none;
}


// アバター変更フォーム
.modal.modal-avatar {
  // TODO: hard codingを解消する
  position: fixed;
  top: 3%;
  left: -68.2%;//-56.7%;
}


// モーダルのウィンドウ幅の設定
.modal.modal-avatar .modal-dialog { width: 250px; }

.modal.modal-images .modal-dialog { width: 800px; }

.modal.modal-boards .modal-dialog { width: 300px; }