// Used on image detail modals
.image-title {
  font-size: 20pt;
  width: 600px;
  height: 32px;
  float: left;
}
.image-detail {
  width: 500px;
  float: left;
}
.image-buttons {
  align: right;
}
.image-info {
  align: left;
}
.image-share {
  text-align: right;
  align: right;
}
.image-time {
  text-align: left;
}
.image-buttons {
}
.share-button {
  float: right;
  width: auto;
  text-align: right;
  align: right;
}

/*DL, DT, DD TAGS LIST DATA*/
/*dl {
    margin-bottom:50px;
}

dl dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:100px;
}

dl dd {
    margin:2px 0;
    padding:5px 0;
}*/
dl {
  overflow: hidden;
  width: 700px;
}

dt {
  float: left;
  clear: right;
  width: 190px;
  color: white;
  background-color: #7ACECE;
}

dd {
  float: right;
  width: 510px;
  margin-left: 0;
  margin-bottom: 5px;
  color: #444;
  //border: 1px #cccccc solid;
  border-left: none;
}

dt, dd {
  //height: 56px;
  //line-height: 56px;
  padding-left: 14px;
}


// Used on html view of modals
.detail-wrap {
  width: 800px;
}