.modal-body {
  word-break: break-word;
}

// Used on image detail modals
@media only screen and (min-width: 500px) {
  .image {
    text-align: center;
    align: center;
  }
}

.image-title {
  font-size: 20pt;
  float: left;
}
.image-buttons {
  align: right;
}
.image-share {
  text-align: right;
  align: right;
}
.image-time {
  text-align: left;
}
.share-button {
  float: right;
  text-align: right;
  align: right;
}



dt {
  clear: right;
  width: 150px;
  color: white;
  background-color: #7ACECE;
}
dd {
  color: #444;
  word-break: break-word;
}
dt, dd {
  padding-left: 14px;
}
