// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Used for embedding Image.id in a html
.id {
  display: none;
}
// Used for embedding thumbnails' heights in a html
.height {
  display: none;
}


// Style the format of time inside a titleBox div
.time-string {
  font-size: 10px;
  line-height: 10px;
  text-align: right;
  align: right;
  float: right;
  width: 200px;
}
// for home_debug action
.time-string-debug {
  font-size: 8px;
  line-height: 8px;
  text-align: left;
  align: left;
  float: left;
  width: 150px;
}
.image-tag {
  float: left;
  align: left;
  width: 10px;
}


// Used in clipping modals
.favored_board {
  background-color: #5B9B9B;
}
.image-buttons {
  text-align: right;
}


// Tweak Bootstrap buttons
.blocks .btn-default {
  margin: 0 5px;
  border-radius: 0;
}
.blocks .btn-info {
  margin: 0 5px;
  border-radius: 0;
}



// Address the problem that bootstrap glyphicons aren't positioned correctly
// from: http://stackoverflow.com/questions/14082826/bootstrap-icons-glyphicons-are-positioned-slightly-up-when-using-google-fonts
span.glyphicon {
  vertical-align: middle;
  margin-top: -5px;
}

// To get rid of gaps at the search form
.custom-search-form {
  padding-right: 0;
  margin-right: 0;
}

.after-header { padding: -500px 0px; }


// Classes in the 'Tags' page
.search-tags {
  padding-left: 0px;
}
.arrow {
  position: relative;
  padding-left: 0px;
  width: 100px;
  font-size: 50pt;
}
.vertical-align {
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-popular-tags {
  width: 450px;
}
.wrapper-followed-tags {
  width: 450px;
}
.popular-tags {
  width: 400px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #C3C3C3;
  overflow-y: scroll;
}
.followed-tags {
  width: 400px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #C3C3C3;
  overflow-y: scroll;
}
.tag-button {
  color: #5B9B9B;//#F8F8F8;
  background-color: #E4F5F5;//#7ACECE;
}
.tag-button:hover {
  color: #5B9B9B;
  background-color: #DDD;
}




// Nested dropdowns styles
// Used at image displaying pages
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
