// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_colors";


.content-box {
  background-color: #F8F8F8;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
form .line {
  margin-bottom: 5px; //adjust to your liking
}
.form-group {
  margin-bottom: 5px;
}


.top-description {
  padding: 20px;
  h1 {
    text-align: center;
    margin-top: 0px;
  }
  background-color: $ice-soft;
  color: $white;
}
.top-wrap {
  background-color : #E4F5F5;
  text-align: center;
  vertical-align:middle;
  align: center;
  height: 550px;
  padding: 10px;
  margin: auto;
  border: 2px solid #7ACECE;
  border-radius: 15px;
  z-index   : 9999;
}
.wrapper-oauth {
  padding: 20px;
  text-align: center;
  line-height: 10px;
  background-color : $ice-light;
  z-index   : 9999;
}
.wrapper-sign-in {
  line-height: 10px;
  background-color : #E4F5F5;
  overflow  : hidden;
  z-index   : 2;
}
.link-sign-in {
  margin-top: 20px;
}
.btn-group-oauth {
  margin-bottom: 10px;
}


// styles for "Creating an account means you've accepted Term of Service and..."
.warning{
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 10px;
}
.warning a {
  &:hover {
    color: #000;
    //background-color: #E4F5F5;
    text-decoration: underline;
  }
}
