// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-centered{
  float: none;
  margin: 0 auto;
}
.top-description {
  text-align: center;
  background-color : #7ACECE;
  //margin: 0px;
  //padding-bottom: 20%;
  //padding: 5px;
}
.top-image {
  text-align: center;
  width     : 500px;
  height    : 300px;
  z-index   : 2;
}
.top-wrap {
  background-color : #E4F5F5;
  text-align: center;
  vertical-align:middle;
  align: center;
  height: 550px;
  padding: 10px;
  margin: auto;
  border: 2px solid #7ACECE;
  border-radius: 15px;
  z-index   : 9999;
}
.wrapper-oauth {
  text-align: center;
  //display: block;
  font-size: 8px;
  line-height: 10px;
  //width     : 300px;
  //height    : 250px;
  background-color : #7ACECE;
  //margin    : 0px;
  //padding-bottom: 20%;
  //padding: 5px;
  overflow  : hidden;
  z-index   : 9999;
}
.wrapper-sign-in {
  position  : relative;
  width     : 300px;
  height    : 350px;
  background-color : #E4F5F5;
  margin    : 10;
  padding   : 10px;
  border    : 10px;
  overflow  : hidden;
  z-index   : 2;
}
.link-sign-in a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #000;
    //background-color: #E4F5F5;
    text-decoration: underline;
  }
}

.btn-group-oauth {
  width     : 250px;
  //width     : 15%;
}

// styles for "Creating an account means you've accepted Term of Service and..."
.warning{
  font-size: 9px;
  line-height: 10px;
}
.warning a {
  &:hover {
    color: #000;
    //background-color: #E4F5F5;
    text-decoration: underline;
  }
}

// top page wrapper
.top {
  text-align: center;
  align: center;
}
.top_background {
  background-size: contain;
  background-image:url('background.png');
  display: block;
  //width: 1200px;
  height: 800px;
  left: 0;
  position: fixed;
  overflow:hidden;
  right: 0;
  z-index: -1;
  margin: -5px -10px -10px -5px;

  -webkit-filter: blur(3px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
}

