<h1>Listing images</h1>

<ul class="boxline">
<% @images.each do |image| %>
  <li>
    <%= image_tag image.data.url %>
  </li>
<% end %>
</ul>
<!--
<div class="wrap">
  <% @images.each do |image| %>
    <div class="box">
      <div class="boxInner">
        <%= image_tag image.data.url %>
        <div class="titleBox"><%= image.title.to_s %></div>
      </div>
    </div>
  <% end %>
</div>
-->